# Guided Capstone Step 2 Data Wrangling


Data wrangling is the second step in the Data Science Method. This step consists of multiple components including Data Collection, Data Organization, Data Definitions, and Data Cleaning.



**The Data Science Method**  


1.   Problem Identification 

2.   **Data Wrangling** 
  * Data Collection
      - Locating the data
      - Data loading
      - Data joining
   * Data Organization
      -  File structure
      -  Git & Github
  * Data Definition
      - Column names
      - Data types (numeric, categorical, timestamp, etc.)
      - Description of the columns
      - Count or percent per unique values or codes (including NA)
      - The range of values or codes  
  * Data Cleaning
      - NA or missing data
      - Duplicates
 
3.   Exploratory Data Analysis 

4.   Pre-processing and Training Data Development

5.   Modeling 

6.   Documentation

## Data Collection

First, you'll load the needed packages and modules into Python. Then you'll load the data into a pandas dataframe for ease of use. Run the cell below to get started.

In [1]:
#load python packages
import os
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

Now you need to prepare to load the csv file of your data. You may need to change your path to the location where you saved the csv file on your local machine or you need to save both the csv and the notebook to your working project directory. 
Start by printing the current directory. Hint: you can do this by running the command `os.getcwd()`.

**<font color='teal'> Print the current working directory </font>**

In [2]:
os.getcwd()

'C:\\Users\\Manager\\springboard projects\\1588204754_Step_2\\Step 2'

**<font color='teal'> Print the files in your current directory to make sure the 'updated_ski_data.csv' is present. </font>**


Hint: if you're not sure on how to do this, this [link](https://www.geeksforgeeks.org/python-os-listdir-method/) can offer guidance.

In [3]:
os.listdir()

['.DS_Store',
 '.ipynb_checkpoints',
 'data',
 'figures',
 'GuidedCapstone_Step2HL (1).ipynb',
 'models',
 'updated_ski_data.csv']

<font color='teal'> **If you need to change your working directory by defining the path in the next cell make sure to uncomment the code before running the cell. If your path is fine, go on to the Load the data step.**</font>

In [4]:
#path=""
#os.chdir(path)

### Load the data from the csv file
Now you're ready to read your data into a pandas dataframe. In this exercise, this will complete the data collection step as all the data you need for your project are contained in this one csv file.
*Double check your path is correct, and that between the `file` name and the `path`, you have the full location of your `updated_ski_data.csv`

<font color='teal'> **Load the data into a pandas dataframe and print the first five rows of the dataframe.**</font>

In [5]:
df1=pd.read_csv("updated_ski_data.csv")

In [6]:
df1.head()

,Name,Region,state,summit_elev,vertical_drop,base_elev,trams,fastEight,fastSixes,fastQuads,...,LongestRun_mi,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,AdultWeekend,projectedDaysOpen,NightSkiing_ac
0,Alyeska Resort,Alaska,Alaska,3939,2500,250,1,0.0,0,2,...,1.0,1610.0,113.0,150.0,60.0,669.0,65.0,85.0,150.0,550.0
1,Eaglecrest Ski Area,Alaska,Alaska,2600,1540,1200,0,0.0,0,0,...,2.0,640.0,60.0,45.0,44.0,350.0,47.0,53.0,90.0,NaN
2,Hilltop Ski Area,Alaska,Alaska,2090,294,1796,0,0.0,0,0,...,1.0,30.0,30.0,150.0,36.0,69.0,30.0,34.0,152.0,30.0
3,Arizona Snowbowl,Arizona,Arizona,11500,2300,9200,0,0.0,1,0,...,2.0,777.0,104.0,122.0,81.0,260.0,89.0,89.0,122.0,NaN
4,Sunrise Park Resort,Arizona,Arizona,11100,1800,9200,0,NaN,0,1,...,1.2,800.0,80.0,115.0,49.0,250.0,74.0,78.0,104.0,80.0

## Data Organization

Data organization for this guided capstone involves creating a basic project folder structure. As you read in the Medium article introducing the data wrangling step, this step is often completed using Github or a module such as cookiecutter. Now that you have your data and your notebook pointing to your working project directory, let's start by printing the current file location. You'll then create a few subfolders to keep your project organized.

<font color='teal'> **Finish the statement below by assigning the path variable.**</font>

In [7]:
path = 'C:\\Users\\Manager\\springboard projects\\1588204754_Step_2\\Step 2'

In [8]:
print ("The current working directory is %s" % path)

The current working directory is C:\Users\Manager\springboard projects\1588204754_Step_2\Step 2

### Create subfolders in your project directory

Now, create some subfolders inside your project folder.

<font color='teal'> **Create a subfolder called `data`.**</font>

<font color='teal'> **Create a folder for the data visualizations you will create in future steps called `figures`.**</font>

<font color='teal'> **Create a folder for the models you save, called `models`.**</font>

<font color='teal'> **Print the contents of your project folder to confirm you created the additional folders in your directory.**</font>

In [9]:
os.listdir()

['.DS_Store',
 '.ipynb_checkpoints',
 'data',
 'figures',
 'GuidedCapstone_Step2HL (1).ipynb',
 'models',
 'updated_ski_data.csv']

## Data Definition
In this step, you'll review column names, data types, and null values.

### Column Names 
<font color='teal'> **Print the columns names of the entire dataframe**</font>

In [10]:
df1.columns

Index(['Name', 'Region', 'state', 'summit_elev', 'vertical_drop', 'base_elev',
       'trams', 'fastEight', 'fastSixes', 'fastQuads', 'quad', 'triple',
       'double', 'surface', 'total_chairs', 'Runs', 'TerrainParks',
       'LongestRun_mi', 'SkiableTerrain_ac', 'Snow Making_ac',
       'daysOpenLastYear', 'yearsOpen', 'averageSnowfall', 'AdultWeekday',
       'AdultWeekend', 'projectedDaysOpen', 'NightSkiing_ac'],
      dtype='object')

### Data Types 
Review which columns are integer, float, categorical, or dates. Make sure the data type is loaded properly in the dataframe.

<font color='teal'> **Using the `df.dtypes` function, print the variable names and associated datatypes.**</font>

In [11]:
df1.dtypes

Name                  object
Region                object
state                 object
summit_elev            int64
vertical_drop          int64
base_elev              int64
trams                  int64
fastEight            float64
fastSixes              int64
fastQuads              int64
quad                   int64
triple                 int64
double                 int64
surface                int64
total_chairs           int64
Runs                 float64
TerrainParks         float64
LongestRun_mi        float64
SkiableTerrain_ac    float64
Snow Making_ac       float64
daysOpenLastYear     float64
yearsOpen            float64
averageSnowfall      float64
AdultWeekday         float64
AdultWeekend         float64
projectedDaysOpen    float64
NightSkiing_ac       float64
dtype: object

<font color='teal'> **The `df.info()` function also prints the count of non-null values per column. Use this function to review the column names, null value counts and data types of your data frame.**</font>

In [12]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 27 columns):
Name                 330 non-null object
Region               330 non-null object
state                330 non-null object
summit_elev          330 non-null int64
vertical_drop        330 non-null int64
base_elev            330 non-null int64
trams                330 non-null int64
fastEight            164 non-null float64
fastSixes            330 non-null int64
fastQuads            330 non-null int64
quad                 330 non-null int64
triple               330 non-null int64
double               330 non-null int64
surface              330 non-null int64
total_chairs         330 non-null int64
Runs                 326 non-null float64
TerrainParks         279 non-null float64
LongestRun_mi        325 non-null float64
SkiableTerrain_ac    327 non-null float64
Snow Making_ac       284 non-null float64
daysOpenLastYear     279 non-null float64
yearsOpen            329 non-null float64
averageSnowfall      316 non-null float64
AdultWeekday         276 non-null float64
AdultWeekend         279 non-null float64
projectedDaysOpen    283 non-null float64
NightSkiing_ac       187 non-null float64
dtypes: float64(13), int64(11), object(3)
memory usage: 69.7+ KB

Some of these column names are easy to understand but others are not as clear. You have a metadata file with information about each column to help you understand what the column names refer to. Let's review the metadata table below for more information about each column.

Descriptions of Columns

There are some null or missing values you'll need to mitgate in a later step. However, let's look at the counts of unique values or codes per column first.

### Count of unique values or codes
<font color='teal'> **Print the count of unique values for every column, regardless of data type.**</font>

In [13]:
df1.Name.value_counts()

Crystal Mountain                         2
Mt. Baker                                1
Ski Granby Ranch                         1
Steamboat                                1
Powder Ridge Ski Area                    1
Grand Targhee Resort                     1
Whiteface Mountain Resort                1
Mt. Crescent Ski Area                    1
Lee Canyon                               1
Sunday River                             1
Tussey Mountain                          1
Mad River Mountain                       1
Bousquet Ski Area                        1
Peek'n Peak                              1
Liberty                                  1
Mammoth Mountain Ski Area                1
Magic Mountain                           1
Chestnut Mountain Resort                 1
Song Mountain                            1
Timberline Lodge                         1
Mount Peter Ski Area                     1
Andes Tower Hills Ski Area               1
Aspen / Snowmass                         1
Four Lakes                               1
Pine Knob Ski Resort                     1
Bear Valley                              1
Eagle Rock                               1
Solitude Mountain Resort                 1
Titus Mountain                           1
Anthony Lakes Mountain Resort            1
                                        ..
Hunter Mountain                          1
Brian Head Resort                        1
Bluewood                                 1
McCauley Mountain Ski Center             1
Diamond Peak                             1
Dry Hill Ski Area                        1
Trollhaugen                              1
Winter Park Resort                       1
Bradford Ski Area                        1
Snowbasin                                1
Vail                                     1
Beaver Mountain                          1
Bruce Mound                              1
Eagle Point                              1
Yosemite Ski & Snowboard Area            1
Purgatory                                1
Snowshoe Mountain Resort                 1
Alyeska Resort                           1
Mountain Creek Resort                    1
Big Snow Resort - Indianhead Mountain    1
49 Degrees North                         1
Grand Geneva                             1
Hogadon Basin                            1
Blue Mountain Resort                     1
West Mountain                            1
Montana Snowbowl                         1
Suicide Six                              1
Seven Springs                            1
Cooper                                   1
The Homestead                            1
Name: Name, Length: 329, dtype: int64

In [14]:
df1.Region.value_counts()

New York               33
Michigan               29
Sierra Nevada          22
Colorado               22
Pennsylvania           19
New Hampshire          16
Wisconsin              16
Vermont                15
Minnesota              14
Idaho                  12
Montana                12
Massachusetts          11
Washington             10
New Mexico              9
Maine                   9
Wyoming                 8
Utah                    7
North Carolina          6
Oregon                  6
Salt Lake City          6
Ohio                    5
Connecticut             5
West Virginia           4
Mt. Hood                4
Illinois                4
Virginia                4
Alaska                  3
Iowa                    3
Nevada                  2
Indiana                 2
Arizona                 2
South Dakota            2
New Jersey              2
Missouri                2
Rhode Island            1
Tennessee               1
Maryland                1
Northern California     1
Name: Region, dtype: int64

In [15]:
df1.state.value_counts()

New York          33
Michigan          29
Colorado          22
California        21
Pennsylvania      19
Wisconsin         16
New Hampshire     16
Vermont           15
Minnesota         14
Utah              13
Montana           12
Idaho             12
Massachusetts     11
Washington        10
Oregon            10
New Mexico         9
Maine              9
Wyoming            8
North Carolina     6
Ohio               5
Connecticut        5
Virginia           4
West Virginia      4
Illinois           4
Nevada             4
Alaska             3
Iowa               3
Indiana            2
South Dakota       2
New Jersey         2
Arizona            2
Missouri           2
Tennessee          1
Maryland           1
Rhode Island       1
Name: state, dtype: int64

In [16]:
df1.summit_elev.value_counts()

1800     6
850      5
2000     5
8200     5
1200     4
1100     4
2250     4
1750     3
1500     3
7200     3
3600     3
1250     3
3200     3
500      3
1700     2
3100     2
440      2
11500    2
1600     2
6400     2
8600     2
4000     2
900      2
1650     2
8000     2
10600    2
1460     2
790      2
871      2
3429     2
        ..
5420     1
11053    1
3344     1
7533     1
1900     1
10090    1
9065     1
7012     1
3939     1
9570     1
2400     1
1308     1
13150    1
11100    1
7000     1
10067    1
11570    1
1357     1
8012     1
10568    1
1350     1
1860     1
1345     1
4650     1
11068    1
315      1
1338     1
1335     1
8500     1
1540     1
Name: summit_elev, Length: 266, dtype: int64

In [17]:
df1.vertical_drop.value_counts()

700     12
500     11
300     10
1000    10
600      8
1500     7
350      7
650      6
400      6
1600     6
1200     6
1800     6
240      5
250      4
230      4
750      4
1150     4
450      4
550      4
1100     4
1400     4
2600     3
200      3
2200     3
1700     2
375      2
2400     2
2280     2
850      2
825      2
        ..
2300     1
505      1
248      1
245      1
2800     1
740      1
1250     1
2270     1
220      1
275      1
2900     1
800      1
2360     1
2380     1
4425     1
3400     1
3398     1
320      1
830      1
1851     1
4406     1
290      1
2353     1
1840     1
301      1
810      1
294      1
3365     1
2340     1
1025     1
Name: vertical_drop, Length: 193, dtype: int64

In [18]:
df1.base_elev.value_counts()

600     10
800      7
1000     6
1250     4
1300     4
9200     4
1200     4
6600     3
1750     3
1600     3
6800     3
6500     3
9600     3
900      3
450      3
1150     3
1350     2
2025     2
1950     2
4500     2
400      2
1100     2
8200     2
100      2
1125     2
620      2
1900     2
5750     2
631      2
650      2
        ..
240      1
6383     1
745      1
4400     1
1330     1
998      1
7000     1
320      1
7016     1
1297     1
3430     1
8750     1
866      1
865      1
2400     1
351      1
3932     1
6450     1
825      1
3600     1
850      1
1360     1
7500     1
9031     1
326      1
835      1
8000     1
8510     1
7994     1
5120     1
Name: base_elev, Length: 244, dtype: int64

In [19]:
df1.trams.value_counts()

0    293
1     24
2      7
3      5
4      1
Name: trams, dtype: int64

In [20]:
df1.fastEight.value_counts()

0.0    163
1.0      1
Name: fastEight, dtype: int64

In [21]:
df1.fastSixes.value_counts()

0    294
1     21
2     11
6      1
5      1
4      1
3      1
Name: fastSixes, dtype: int64

In [22]:
df1.fastQuads.value_counts()

0     222
1      35
2      29
3      15
4       8
6       5
5       5
7       3
15      2
9       2
13      1
11      1
10      1
8       1
Name: fastQuads, dtype: int64

In [23]:
df1.quad.value_counts()

0    171
1     78
2     43
3     22
4      8
5      6
8      2
Name: quad, dtype: int64

In [24]:
df1.triple.value_counts()

0    106
1     99
2     53
3     37
4     14
5      9
6      7
7      4
8      1
Name: triple, dtype: int64

In [25]:
df1.double.value_counts()

1     89
0     82
2     70
3     34
4     25
5     21
6      6
14     1
10     1
9      1
Name: double, dtype: int64

In [26]:
df1.surface.value_counts()

2     98
1     73
3     59
0     26
4     24
5     22
6     10
7      7
9      5
8      4
15     1
12     1
Name: surface, dtype: int64

In [27]:
df1.total_chairs.value_counts()

5     48
6     37
4     34
8     32
7     29
3     26
10    21
12    17
9     16
11    14
14    10
2      9
13     6
16     5
20     4
25     2
24     2
22     2
18     2
1      2
15     2
41     1
40     1
17     1
21     1
27     1
28     1
31     1
34     1
36     1
0      1
Name: total_chairs, dtype: int64

In [28]:
df1.Runs.value_counts()

14.0     12
23.0     11
17.0      9
10.0      9
27.0      9
16.0      8
11.0      8
22.0      7
15.0      7
21.0      7
12.0      7
24.0      7
45.0      7
25.0      6
20.0      6
18.0      6
28.0      5
48.0      5
34.0      5
26.0      5
19.0      5
30.0      5
50.0      5
36.0      4
29.0      4
13.0      4
43.0      4
55.0      4
7.0       4
65.0      4
         ..
167.0     1
107.0     1
170.0     1
79.0      1
78.0      1
148.0     1
99.0      1
89.0      1
112.0     1
75.0      1
95.0      1
130.0     1
83.0      1
81.0      1
61.0      1
68.0      1
70.0      1
69.0      1
74.0      1
3.0       1
6.0       1
58.0      1
135.0     1
162.0     1
317.0     1
92.0      1
91.0      1
166.0     1
195.0     1
76.0      1
Name: Runs, Length: 110, dtype: int64

In [29]:
df1.TerrainParks.value_counts()

1.0     81
2.0     76
3.0     46
4.0     31
5.0     17
6.0     12
7.0      6
8.0      4
9.0      3
10.0     2
14.0     1
Name: TerrainParks, dtype: int64

In [30]:
df1.LongestRun_mi.value_counts()

1.0    53
1.5    25
2.0    24
3.0    19
0.2    18
0.3    18
1.2    17
0.4    17
2.5    16
0.5    16
0.8    13
0.1    12
0.6    11
3.5     6
0.7     6
1.3     5
1.6     5
4.0     4
2.8     3
0.9     3
2.2     3
2.1     3
6.0     3
1.1     3
2.3     2
4.5     2
1.9     2
1.4     2
3.7     1
2.7     1
3.3     1
4.6     1
5.0     1
0.0     1
5.3     1
2.6     1
1.7     1
4.9     1
1.8     1
5.5     1
2.4     1
3.2     1
Name: LongestRun_mi, dtype: int64

In [31]:
df1.SkiableTerrain_ac.value_counts()

100.0     15
50.0       8
200.0      8
45.0       7
30.0       6
60.0       6
40.0       6
400.0      5
80.0       5
70.0       5
35.0       5
2000.0     4
1600.0     4
1000.0     3
125.0      3
175.0      3
25.0       3
285.0      3
55.0       3
15.0       3
250.0      3
240.0      3
640.0      3
85.0       3
220.0      3
130.0      3
110.0      3
86.0       2
180.0      2
140.0      2
          ..
46.0       1
69.0       1
700.0      1
1125.0     1
320.0      1
133.0      1
20.0       1
660.0      1
166.0      1
103.0      1
38.0       1
205.0      1
581.0      1
2026.0     1
667.0      1
5800.0     1
655.0      1
2614.0     1
2900.0     1
75.0       1
2908.0     1
7300.0     1
777.0      1
5517.0     1
184.0      1
92.0       1
32.0       1
1704.0     1
129.0      1
1610.0     1
Name: SkiableTerrain_ac, Length: 193, dtype: int64

In [32]:
df1.Snow Making_ac.value_counts()

SyntaxError: invalid syntax (<ipython-input-32-cb9d6211011b>, line 1)

In [33]:
df1.daysOpenLastYear.value_counts()

100.0    21
110.0    11
120.0    11
105.0     9
130.0     9
150.0     7
75.0      6
122.0     6
115.0     5
107.0     5
121.0     5
116.0     5
80.0      5
149.0     4
101.0     4
142.0     4
97.0      4
135.0     4
155.0     4
114.0     4
87.0      3
136.0     3
68.0      3
90.0      3
94.0      3
133.0     3
143.0     3
118.0     3
92.0      3
99.0      3
         ..
70.0      1
42.0      1
45.0      1
188.0     1
205.0     1
184.0     1
109.0     1
86.0      1
40.0      1
67.0      1
82.0      1
19.0      1
56.0      1
61.0      1
180.0     1
124.0     1
47.0      1
156.0     1
141.0     1
113.0     1
32.0      1
127.0     1
137.0     1
154.0     1
129.0     1
158.0     1
139.0     1
103.0     1
73.0      1
305.0     1
Name: daysOpenLastYear, Length: 111, dtype: int64

In [34]:
df1.yearsOpen.value_counts()

58.0      17
55.0      15
56.0      15
57.0      14
54.0      14
82.0      13
60.0      12
81.0      12
59.0      10
61.0      10
83.0      10
62.0       9
71.0       9
53.0       9
47.0       8
19.0       8
50.0       7
64.0       6
63.0       6
46.0       6
72.0       6
48.0       6
80.0       6
39.0       5
52.0       5
67.0       4
36.0       4
44.0       4
73.0       4
66.0       4
          ..
37.0       2
74.0       2
42.0       2
79.0       2
68.0       2
45.0       2
16.0       1
28.0       1
76.0       1
86.0       1
85.0       1
87.0       1
26.0       1
40.0       1
12.0       1
41.0       1
23.0       1
95.0       1
21.0       1
33.0       1
13.0       1
104.0      1
17.0       1
6.0        1
77.0       1
25.0       1
29.0       1
22.0       1
15.0       1
2019.0     1
Name: yearsOpen, Length: 72, dtype: int64

In [35]:
df1.averageSnowfall.value_counts()

300.0    22
50.0     17
100.0    15
250.0    14
120.0    12
400.0    11
150.0    10
200.0     9
60.0      8
80.0      8
350.0     8
45.0      7
500.0     7
180.0     7
160.0     6
90.0      5
125.0     5
24.0      5
30.0      4
40.0      4
20.0      4
70.0      3
110.0     3
140.0     3
225.0     3
430.0     3
210.0     3
130.0     3
360.0     3
69.0      3
         ..
273.0     1
325.0     1
333.0     1
550.0     1
355.0     1
349.0     1
301.0     1
228.0     1
217.0     1
47.0      1
240.0     1
132.0     1
204.0     1
459.0     1
78.0      1
85.0      1
26.0      1
161.0     1
148.0     1
163.0     1
33.0      1
190.0     1
185.0     1
122.0     1
230.0     1
77.0      1
36.0      1
462.0     1
118.0     1
669.0     1
Name: averageSnowfall, Length: 107, dtype: int64

In [36]:
df1.AdultWeekday.value_counts()

49.00     16
45.00     12
55.00     10
50.00     10
40.00     10
79.00      9
30.00      8
59.00      8
39.00      7
69.00      7
42.00      7
65.00      6
85.00      5
56.00      5
47.00      5
20.00      5
48.00      5
89.00      5
38.00      5
43.00      5
81.00      4
60.00      4
33.00      4
70.00      4
44.00      4
35.00      4
32.00      4
25.00      4
74.00      4
67.00      4
          ..
179.00     1
158.00     1
149.00     1
75.00      1
35.34      1
64.00      1
31.00      1
90.00      1
92.00      1
53.75      1
73.00      1
87.00      1
109.00     1
115.00     1
88.00      1
169.00     1
116.00     1
96.00      1
57.00      1
26.00      1
27.00      1
110.00     1
77.00      1
135.00     1
23.00      1
15.00      1
22.00      1
68.00      1
79.99      1
105.00     1
Name: AdultWeekday, Length: 83, dtype: int64

In [37]:
df1.AdultWeekend.value_counts()

49.00     13
59.00     12
45.00     12
65.00     11
47.00     10
60.00      9
79.00      8
55.00      7
89.00      7
69.00      7
50.00      7
68.00      6
42.00      6
44.00      6
48.00      6
70.00      5
40.00      5
39.00      5
75.00      5
58.00      5
99.00      5
72.00      4
62.00      4
71.00      4
64.00      4
81.00      4
43.00      4
35.00      4
84.00      4
46.00      4
          ..
77.00      2
93.00      2
30.00      2
37.00      2
63.00      2
110.00     1
98.00      1
91.00      1
41.00      1
159.00     1
60.01      1
66.00      1
90.00      1
115.00     1
79.99      1
53.00      1
83.00      1
179.00     1
169.00     1
17.00      1
76.00      1
158.00     1
116.00     1
105.00     1
139.00     1
63.20      1
33.00      1
135.00     1
96.00      1
35.34      1
Name: AdultWeekend, Length: 81, dtype: int64

In [38]:
df1.projectedDaysOpen.value_counts()

100.0    27
120.0    19
150.0    13
130.0    12
90.0     11
135.0    10
144.0     9
110.0     8
140.0     7
122.0     6
70.0      6
138.0     6
105.0     6
115.0     5
95.0      5
80.0      5
143.0     4
125.0     4
112.0     4
152.0     4
136.0     4
103.0     3
129.0     3
107.0     3
108.0     3
160.0     3
180.0     3
137.0     3
85.0      3
126.0     2
         ..
170.0     1
131.0     1
305.0     1
91.0      1
141.0     1
139.0     1
118.0     1
96.0      1
156.0     1
132.0     1
146.0     1
109.0     1
94.0      1
81.0      1
40.0      1
185.0     1
65.0      1
193.0     1
119.0     1
124.0     1
38.0      1
30.0      1
116.0     1
127.0     1
56.0      1
111.0     1
77.0      1
58.0      1
86.0      1
169.0     1
Name: projectedDaysOpen, Length: 90, dtype: int64

In [39]:
df1.NightSkiing_ac.value_counts()

100.0    18
30.0      9
35.0      9
40.0      8
45.0      8
80.0      7
200.0     7
50.0      7
15.0      5
70.0      5
60.0      5
55.0      4
90.0      4
20.0      3
110.0     3
140.0     3
86.0      3
10.0      3
150.0     3
121.0     2
144.0     2
250.0     2
37.0      2
160.0     2
56.0      2
26.0      2
104.0     2
95.0      2
73.0      2
164.0     2
         ..
12.0      1
541.0     1
135.0     1
32.0      1
74.0      1
450.0     1
500.0     1
2.0       1
42.0      1
170.0     1
85.0      1
72.0      1
8.0       1
105.0     1
69.0      1
89.0      1
180.0     1
400.0     1
189.0     1
175.0     1
154.0     1
167.0     1
14.0      1
93.0      1
23.0      1
600.0     1
17.0      1
650.0     1
130.0     1
550.0     1
Name: NightSkiing_ac, Length: 78, dtype: int64

<font color='teal'> **Print the percent of unique values per column. Use the `df.nunique` and the size of the dataframe to calculate the percentages.**</font>

In [40]:
df1.columns

Index(['Name', 'Region', 'state', 'summit_elev', 'vertical_drop', 'base_elev',
       'trams', 'fastEight', 'fastSixes', 'fastQuads', 'quad', 'triple',
       'double', 'surface', 'total_chairs', 'Runs', 'TerrainParks',
       'LongestRun_mi', 'SkiableTerrain_ac', 'Snow Making_ac',
       'daysOpenLastYear', 'yearsOpen', 'averageSnowfall', 'AdultWeekday',
       'AdultWeekend', 'projectedDaysOpen', 'NightSkiing_ac'],
      dtype='object')

In [41]:
df1.summit_elev.nunique()

266

In [42]:
df1.vertical_drop.nunique()

193

In [43]:
df1.base_elev.nunique()

244

In [44]:
df1.trams.nunique()

5

In [45]:
df1.fastEight.nunique()

2

In [46]:
df1.fastSixes.nunique()

7

In [47]:
df1.fastQuads.nunique()

14

In [48]:
df1.quad.nunique()

7

In [49]:
df1.triple.nunique()

9

In [50]:
df1.double.nunique()

10

In [51]:
df1.surface.nunique()

12

In [52]:
df1.total_chairs.nunique()

31

In [53]:
df1.Runs.nunique()

110

In [54]:
df1.TerrainParks.nunique()

11

In [55]:
df1.LongestRun_mi.nunique()

42

In [56]:
df1.SkiableTerrain_ac.nunique()

193

In [57]:
df1.Snow Making_ac.nunique()

SyntaxError: invalid syntax (<ipython-input-57-d3fc78db47e2>, line 1)

In [58]:
df1.daysOpenLastYear.nunique()

111

In [59]:
df1.yearsOpen.nunique()

72

In [60]:
df1.averageSnowfall.nunique()

107

In [61]:
df1.AdultWeekday.nunique()

83

In [62]:
df1.AdultWeekend.nunique()

81

In [63]:
df1.projectedDaysOpen.nunique()

90

In [64]:
df1.NightSkiing_ac.nunique()

78

When working with categorical columns, it's really helpful to know what the unique codes are. <font color='teal'> **For example, if you look at the `Region` or `state` column, youcan print out the different states in the dataframe.**</font>

Hint: you can use the `value_counts()` method for this.

In [65]:
df1.Name.value_counts()

Crystal Mountain                         2
Mt. Baker                                1
Ski Granby Ranch                         1
Steamboat                                1
Powder Ridge Ski Area                    1
Grand Targhee Resort                     1
Whiteface Mountain Resort                1
Mt. Crescent Ski Area                    1
Lee Canyon                               1
Sunday River                             1
Tussey Mountain                          1
Mad River Mountain                       1
Bousquet Ski Area                        1
Peek'n Peak                              1
Liberty                                  1
Mammoth Mountain Ski Area                1
Magic Mountain                           1
Chestnut Mountain Resort                 1
Song Mountain                            1
Timberline Lodge                         1
Mount Peter Ski Area                     1
Andes Tower Hills Ski Area               1
Aspen / Snowmass                         1
Four Lakes                               1
Pine Knob Ski Resort                     1
Bear Valley                              1
Eagle Rock                               1
Solitude Mountain Resort                 1
Titus Mountain                           1
Anthony Lakes Mountain Resort            1
                                        ..
Hunter Mountain                          1
Brian Head Resort                        1
Bluewood                                 1
McCauley Mountain Ski Center             1
Diamond Peak                             1
Dry Hill Ski Area                        1
Trollhaugen                              1
Winter Park Resort                       1
Bradford Ski Area                        1
Snowbasin                                1
Vail                                     1
Beaver Mountain                          1
Bruce Mound                              1
Eagle Point                              1
Yosemite Ski & Snowboard Area            1
Purgatory                                1
Snowshoe Mountain Resort                 1
Alyeska Resort                           1
Mountain Creek Resort                    1
Big Snow Resort - Indianhead Mountain    1
49 Degrees North                         1
Grand Geneva                             1
Hogadon Basin                            1
Blue Mountain Resort                     1
West Mountain                            1
Montana Snowbowl                         1
Suicide Six                              1
Seven Springs                            1
Cooper                                   1
The Homestead                            1
Name: Name, Length: 329, dtype: int64

### Range of values per column

<font color='teal'>**Print the range of values using the aggregate function.**</font>

Hint: you can do this in a variety of ways, but one way is using the `agg()` dataframe method. You can pass this the `[min, max]` parameter and then call `.T` on the result to transpose it.

In [66]:
t=df1.agg([min,max]).T

In [67]:
t.head(27)

                                min                            max
Name               49 Degrees North  Yosemite Ski & Snowboard Area
Region                       Alaska                        Wyoming
state                        Alaska                        Wyoming
summit_elev                     315                          13487
vertical_drop                    60                           4425
base_elev                        70                          10800
trams                             0                              4
fastEight                         0                              1
fastSixes                         0                              6
fastQuads                         0                             15
quad                              0                              8
triple                            0                              8
double                            0                             14
surface                           0                             15
total_chairs                      0                             41
Runs                              3                            341
TerrainParks                      1                             14
LongestRun_mi                     0                              6
SkiableTerrain_ac                 8                          26819
Snow Making_ac                    2                           3379
daysOpenLastYear                  3                            305
yearsOpen                         6                           2019
averageSnowfall                  18                            669
AdultWeekday                     15                            179
AdultWeekend                     17                            179
projectedDaysOpen                30                            305
NightSkiing_ac                    2                            650

<font color='teal'> **Review the numeric dataset's summary statistics.**</font>

In [68]:
df1.describe()

,summit_elev,vertical_drop,base_elev,trams,fastEight,fastSixes,fastQuads,quad,triple,double,...,LongestRun_mi,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,AdultWeekend,projectedDaysOpen,NightSkiing_ac
count,330.000000,330.000000,330.000000,330.000000,164.000000,330.000000,330.000000,330.000000,330.00000,330.000000,...,325.000000,327.000000,284.000000,279.000000,329.000000,316.000000,276.000000,279.000000,283.000000,187.000000
mean,4591.818182,1215.427273,3374.000000,0.172727,0.006098,0.184848,1.018182,0.933333,1.50000,1.833333,...,1.433231,739.801223,174.873239,115.103943,63.656535,185.316456,57.916957,64.166810,120.053004,100.395722
std,3735.535934,947.864557,3117.121621,0.559946,0.078087,0.651685,2.198294,1.312245,1.61913,1.815028,...,1.156171,1816.167441,261.336125,35.063251,109.429928,136.356842,26.140126,24.554584,31.045963,105.169620
min,315.000000,60.000000,70.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,8.000000,2.000000,3.000000,6.000000,18.000000,15.000000,17.000000,30.000000,2.000000
25%,1403.750000,461.250000,869.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,1.000000,...,0.500000,85.000000,50.000000,97.000000,50.000000,69.000000,40.000000,47.000000,100.000000,40.000000
50%,3127.500000,964.500000,1561.500000,0.000000,0.000000,0.000000,0.000000,0.000000,1.00000,1.000000,...,1.000000,200.000000,100.000000,114.000000,58.000000,150.000000,50.000000,60.000000,120.000000,72.000000
75%,7806.000000,1800.000000,6325.250000,0.000000,0.000000,0.000000,1.000000,1.000000,2.00000,3.000000,...,2.000000,690.000000,200.500000,135.000000,69.000000,300.000000,71.000000,77.500000,139.500000,114.000000
max,13487.000000,4425.000000,10800.000000,4.000000,1.000000,6.000000,15.000000,8.000000,8.00000,14.000000,...,6.000000,26819.000000,3379.000000,305.000000,2019.000000,669.000000,179.000000,179.000000,305.000000,650.000000

## Data Cleaning

### Handle the missing and NA values
Run the code below to print out the percent of each feature that is missing. You can see from the result of the code that there are 13 columns out of 27 missing data. Most of these are missing less than 10% of the data. You may need to adapt the code if your dataframe is named something other than df.


*   Consider the columns individually 
*   Identify the appropriate fill method for each column

In [69]:
nas=pd.DataFrame(df1.isnull().sum().sort_values(ascending=False)/len(df1),columns = ['percent'])
pos = nas['percent'] > 0
nas[pos]
#print(nas)

                    percent
fastEight          0.503030
NightSkiing_ac     0.433333
AdultWeekday       0.163636
AdultWeekend       0.154545
daysOpenLastYear   0.154545
TerrainParks       0.154545
projectedDaysOpen  0.142424
Snow Making_ac     0.139394
averageSnowfall    0.042424
LongestRun_mi      0.015152
Runs               0.012121
SkiableTerrain_ac  0.009091
yearsOpen          0.003030

Let's review each of these columns in the data.


*   fastEight is the number of fast eight-person ski lifts at each of the resorts. In addition, you have the counts of all the other types of chairs at each resort and the total number of chairs as well. You can simply subtract the number of fastEight lifts from the total to determine if any of the missing values can be backfilled or if they should be equal to zero. Follow the next step below and see for yourself how to review and backfill these missing values. These columns contain all the resort lift counts by type.


* trams	
* fastEight	
* fastSixes	
* fastQuads	
* quad
* triple	
* double	
* surface	
* total_chairs <- the sum of these columns for each row.

<font color='teal'> **In order to determine an appropriate fill value for the fastEigth column, you need to calculate the difference between the sum of all the chairlift columns and the `total_chairs` column.**</font>

In [70]:
df1[['trams','fastEight','fastSixes','fastQuads','quad','triple','double','surface']].sum()

trams         57.0
fastEight      1.0
fastSixes     61.0
fastQuads    336.0
quad         308.0
triple       495.0
double       605.0
surface      865.0
dtype: float64

As you can see from running the above cell, there are no fastEight lift values missing because the difference between the sum of all the lift columns and the 'total_chairs' column is zero for every row in the dataframe. This confirms that you can therefore replace the missing values for the fastEight rows with zeros.

<font color='teal'> **In the cell below, replace Nan's in 'fastEight' with zero.**</font>

Hint: you could use the `fillna()` method here.

In [71]:
df1.fastEight.fillna(0,inplace=True)

Consider the next column with missing values, 'NightSkiing_ac'. This column represents the number of acres of night skiing availble at this resort. Not all resorts have night skiing because it requires stadium lights and is not that popular with skiers and snowboarders. Given that information, it is also safe to assume that if there are missing values in this column, it is due to there not being any night skiing acres available at that resort so you can fill missing values with zeros safely.

In [72]:
df1.NightSkiing_ac.fillna(0,inplace=True)

Next, let's consider the ticket price columns 'AdultWeekday' & 'AdultWeekend'. You know that there has to be a price for these that happens to be missing so, in this case, you cannot fill the missing values with zeros. Instead, you have a few options about what value you can use to fill the missing rows. You can simply take the mean of the column in consideration or you could backfill or forwardfill from the resort in the row before or after your missing value. Backfill and forward fill would be more reasonable in a situation where the data are in a particular order where the rows near each other are similar to each other in the price column. You could also build an imputation model to use a model to predict the value based on the data values in adjacent columns as well as adjacent rows.

<font color='teal'> **Run the cell below to replace Nan's in 'AdultWeekday' with the mean value.**</font>

In [73]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 27 columns):
Name                 330 non-null object
Region               330 non-null object
state                330 non-null object
summit_elev          330 non-null int64
vertical_drop        330 non-null int64
base_elev            330 non-null int64
trams                330 non-null int64
fastEight            330 non-null float64
fastSixes            330 non-null int64
fastQuads            330 non-null int64
quad                 330 non-null int64
triple               330 non-null int64
double               330 non-null int64
surface              330 non-null int64
total_chairs         330 non-null int64
Runs                 326 non-null float64
TerrainParks         279 non-null float64
LongestRun_mi        325 non-null float64
SkiableTerrain_ac    327 non-null float64
Snow Making_ac       284 non-null float64
daysOpenLastYear     279 non-null float64
yearsOpen            329 non-null float64
averageSnowfall      316 non-null float64
AdultWeekday         276 non-null float64
AdultWeekend         279 non-null float64
projectedDaysOpen    283 non-null float64
NightSkiing_ac       330 non-null float64
dtypes: float64(13), int64(11), object(3)
memory usage: 69.7+ KB

In [74]:
df1['AdultWeekday'].fillna((df1['AdultWeekday'].mean()), inplace=True)

In [75]:
df1['AdultWeekend'].fillna((df1['AdultWeekend'].mean()), inplace=True)

<font color='teal'> **Use what you know about the remaining columns missing data and decide whether to fill with a zero or to fill with a mean.**</font>

In [76]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 27 columns):
Name                 330 non-null object
Region               330 non-null object
state                330 non-null object
summit_elev          330 non-null int64
vertical_drop        330 non-null int64
base_elev            330 non-null int64
trams                330 non-null int64
fastEight            330 non-null float64
fastSixes            330 non-null int64
fastQuads            330 non-null int64
quad                 330 non-null int64
triple               330 non-null int64
double               330 non-null int64
surface              330 non-null int64
total_chairs         330 non-null int64
Runs                 326 non-null float64
TerrainParks         279 non-null float64
LongestRun_mi        325 non-null float64
SkiableTerrain_ac    327 non-null float64
Snow Making_ac       284 non-null float64
daysOpenLastYear     279 non-null float64
yearsOpen            329 non-null float64
averageSnowfall      316 non-null float64
AdultWeekday         330 non-null float64
AdultWeekend         330 non-null float64
projectedDaysOpen    283 non-null float64
NightSkiing_ac       330 non-null float64
dtypes: float64(13), int64(11), object(3)
memory usage: 69.7+ KB

In [77]:
df1['LongestRun_mi'].fillna((df1['LongestRun_mi'].mean()), inplace=True)

In [78]:
df1['SkiableTerrain_ac'].fillna((df1['SkiableTerrain_ac'].mean()), inplace=True)

In [79]:
df1['Snow Making_ac'].fillna((df1['Snow Making_ac'].mean()), inplace=True)

In [80]:
df1['daysOpenLastYear'].fillna((df1['daysOpenLastYear'].mean()), inplace=True)

In [81]:
df1['yearsOpen'].fillna((df1['yearsOpen'].mean()), inplace=True)

In [82]:
df1['averageSnowfall'].fillna((df1['averageSnowfall'].mean()), inplace=True)

In [83]:
df1['projectedDaysOpen'].fillna((df1['projectedDaysOpen'].mean()), inplace=True)

In [84]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 27 columns):
Name                 330 non-null object
Region               330 non-null object
state                330 non-null object
summit_elev          330 non-null int64
vertical_drop        330 non-null int64
base_elev            330 non-null int64
trams                330 non-null int64
fastEight            330 non-null float64
fastSixes            330 non-null int64
fastQuads            330 non-null int64
quad                 330 non-null int64
triple               330 non-null int64
double               330 non-null int64
surface              330 non-null int64
total_chairs         330 non-null int64
Runs                 326 non-null float64
TerrainParks         279 non-null float64
LongestRun_mi        330 non-null float64
SkiableTerrain_ac    330 non-null float64
Snow Making_ac       330 non-null float64
daysOpenLastYear     330 non-null float64
yearsOpen            330 non-null float64
averageSnowfall      330 non-null float64
AdultWeekday         330 non-null float64
AdultWeekend         330 non-null float64
projectedDaysOpen    330 non-null float64
NightSkiing_ac       330 non-null float64
dtypes: float64(13), int64(11), object(3)
memory usage: 69.7+ KB

In [85]:
df1['Runs'].fillna((df1['Runs'].mean()), inplace=True)

In [86]:
df1['TerrainParks'].fillna((df1['TerrainParks'].mean()), inplace=True)

### Look for duplicate rows
Run the code below to print out the duplicated rows.You can see there are no duplicate rows, so in this particular case there is nothing else to do related to duplicate rows. You will review duplicate or synonymous columns in Step 3 of the Guided Capstone.

In [87]:
duplicateRowsDF = df1[df1.duplicated()]
duplicateRowsDF

Empty DataFrame
Columns: [Name, Region, state, summit_elev, vertical_drop, base_elev, trams, fastEight, fastSixes, fastQuads, quad, triple, double, surface, total_chairs, Runs, TerrainParks, LongestRun_mi, SkiableTerrain_ac, Snow Making_ac, daysOpenLastYear, yearsOpen, averageSnowfall, AdultWeekday, AdultWeekend, projectedDaysOpen, NightSkiing_ac]
Index: []

[0 rows x 27 columns]

## Export data to a new csv file 
In order to bring the changes you made here into the next notebook, you need to write out the updated data frame to a new csv file.

<font color='teal'> **Export the processed dataframe as a csv file to the data folder you created earlier. Name this new csv file `step2_output.csv`.**</font>

Hint: you can use the `to_csv()` dataframe method here.

In [89]:
df1.to_csv('C:\\Users\\Manager\\springboard projects\\1588204754_Step_2\\Step 2\\data\\step2_output.csv')

The data transformations created in this step of the DSM are all generally steps to be applied to any data science project. However, the decisions we made about how to handle the missing and NA data are specific to the problem at hand. In the next step of the DSM and the next Guided Capstone Notebook, you'll see how all these steps prepare the data for exploratory data analysis.